<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div class="barrePrincipale">
  Login Page
    <ul>
          <li>
            <a href="/logout">Acceuil</a>
          </li>
        </ul>
      </div>
        <p> lead Say something worthwhile here.</p>
        <br>
        <form  action="/login" method="post" style='max-width: 300px;'>

          <input type='text' name="username">
          <input type='password' name="password">
          <button type='submit'> Submit </button>
          &nbsp;
          <a href='/'>
            <input type="reset" value="Cancel">
          </a>
        </form>

  </body>
</html>
