<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/menu.css' />
  </head>
  <body >
    <div class='cssmenu'>
       <ul>
          <li>
            <a href='/'>
              <span>Home</span>
            </a>
          </li>
          <li >
            <a href='/profile'>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href='#'>
              <span>Messages</span>
            </a>
          </li>
          <li class='active'>
            <a href='/setting'>
              <span>Setting</span>
            </a>
          </li>
          <li class='last'>
            <a href='/logout'>
              <span>Log Out</span>
            </a>
          </li>
          <form class="form-wrapper cf">
                <input type="text" placeholder="Search here..." required>
                <button type="submit">Search</button>
          </form>
      </ul>
    </div>
    <div class="column_center">
      <div>
        
      </div>
    </div>
  </body>
</html>
